/* IBM Plex Mono */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "IBM PLex Mono", monospace;
}
body {
    height: 100vh;
    background-color: #01161e;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Social media style */
.icons {
    display: flex;
    column-gap: 25px;
}
.icon {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: 
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

/* Social media animation */
.icon:hover {
    outline-offset: 4px;
}
.icon:hover i {
    animation: shake .25s;
}
.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
        #fdf497 0%, #fdf497 5%,
        #fd5949 45%, #d6249f 60%,
        #285AEB 90%);
    outline-color: #a02d76;
}
.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}
.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}
.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}
@keyframes shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
}